@{Layout = "/views/shared/_Layout.cshtml";}
<!DOCTYPE html>
<html lang="en" ng-app="WeatherApp">
<head>
</head>
<body>
	<div class="container" ng-controller="weatherController">
		<div class="page-holder">
			<div id="body-wrapper" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="row">
					<h1 class="page-heading">Welcome to Weather Application </h1>
					<div class="vertical-divider"></div>
					<hr>
					<form class="form-group">
						<select class="form-control" ng-model="selectedCountry" ng-options="country.name for country in countries" ng-change="selectAction()">
							<option value=""> Please select a country </option>
						</select>
						<hr />
						<select class="form-control" ng-model="selectedCity" ng-options="city.name for city in cities" ng-change="selectCityAction()">
							<option value=""> Please select a city </option>
						</select> <hr />

						<div id="weather-response" ng-hide="hide">
							<h3> Weather forecast for {{selectedCity.name}},  {{selectedCountry.name}} </h3>
							<div class="col-md-5 col-lg-5">
								<label class="font-weight-bold">Description:</label> {{weather.weather[0].description}} <br />
								<label class="font-weight-bold">Relative Humidity:</label> {{weather.main.humidity}}%<br />
								<label class="font-weight-bold">Current Temperature:</label> {{weather.main.temp}} Degree Celsius<br />
								<label class="font-weight-bold">Maximum Temperature:</label> {{weather.main.temp_max}} Degree Celsius<br />
								<label class="font-weight-bold">Minumum Temperature:</label> {{weather.main.temp_max}} Degree Celsius<br />
							</div>
							<div class="col-md-5 col-lg-5">
								<label class="font-weight-bold">Pressure:</label> {{weather.main.pressure}} hPa<br />
								<label class="font-weight-bold">Coordinates:</label> Latitude: {{weather.coord.lat}} , Longitude: {{weather.coord.lon}}<br />
								<label class="font-weight-bold">Wind Speed:</label> {{weather.wind.speed}} meter/sec, Degrees: {{weather.wind.deg}}<br />
								<label class="font-weight-bold">Sunrise:</label> {{weather.sys.sunrise * 1000 | date:'HH:mm:ss'}}<br />
								<label class="font-weight-bold">Sunset: </label> {{weather.sys.sunset * 1000 | date:'HH:mm:ss'}}<br />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script src="~/Scripts/app/weatherController.js"></script>
<script src="~/Scripts/app/countriesService.js"></script>
<script src="~/Scripts/app/citiesService.js"></script>
<script src="~/Scripts/app/weatherService.js"></script>